#popup-feedback {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2; }

.popup-feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.feedback-form {
  width: 300px;
  height: 500px;
  min-width: 300px;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2em;
  padding: 3em;
  background-color: white;
  color: black; }

.btn-popup-close {
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: none;
  font-size: 2rem;
  padding: .3rem .5rem;
  border: none;
  background: none; }

.btn-popup-submit {
  border: 0 none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background: none;
    background-font-size: 4rem;
  padding: .3rem .5rem; }

.feedback-form input {
  width: 250px; }
