*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #ad9a7a;
  color: #fff; }

.wrapper {
  width: 60%;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url(../img/title-pic.jpg) no-repeat center;
  position: relative;
  min-height: 633px; }

.header-overlay {
  position: absolute;
  opacity: .74;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #957e53;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }
  .header-overlay:hover {
    opacity: 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ad9a7a;
  height: 6vh;
  z-index: 1; }

nav {
  width: 40%; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  list-style: none;
  font-family: "Roboto Condensed";
  font-style: uppercase; }

.menu__nav-link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10%; }

.social__social-icon {
  display: block;
  font-size: 1.3rem; }

.social__social-icon a {
  display: block;
  color: #fff;
  text-decoration: none; }
  .social__social-icon a:visited {
    color: #fff; }

.social__social-icon .fa-vk:hover {
  color: #4680C2; }

.social__social-icon .fa-instagram:hover {
  border-radius: 5px;
  color: white;
  background: -webkit-linear-gradient(247deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: -o-linear-gradient(247deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(203deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%); }

.social__social-icon .fa-whatsapp:hover {
  color: #25D366; }

.title-stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 20vh; }

.text-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.header-big {
  display: block;
  font: bold 3rem "Cuprum";
  opacity: 1; }

.header-md {
  display: block;
  font: 2rem "Cuprum"; }

.header-sm {
  display: block;
  font: 1.5rem "Cuprum"; }

.btn-consult {
  color: black;
  font: bold 1.2rem "Roboto Condensed";
  padding: 1.5em 2em;
  border: none;
  border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3d20f), to(#e3a716)) #E38916;
  background: -webkit-linear-gradient(#f3d20f, #e3a716) #E38916;
  background: -o-linear-gradient(#f3d20f, #e3a716) #E38916;
  background: linear-gradient(#f3d20f, #e3a716) #E38916;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.btn-consult:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5ae00), to(#f5ad00)) #f5ae00;
  background: -webkit-linear-gradient(#f5ae00, #f5ad00) #f5ae00;
  background: -o-linear-gradient(#f5ae00, #f5ad00) #f5ae00;
  background: linear-gradient(#f5ae00, #f5ad00) #f5ae00; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__header {
  width: 80%;
  padding: 0.8em;
  font: 2rem "Cuprum";
  text-align: center;
  overflow: hidden; }
  .section__header:before, .section__header:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background: #fff;
    position: relative; }
  .section__header:before {
    margin-left: -100%;
    left: -30px; }
  .section__header:after {
    margin-right: -100%;
    right: -30px; }

.section__header--black {
  width: 48%;
  color: black; }
  .section__header--black:before {
    background: black; }
  .section__header--black:after {
    background: black; }

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 4em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.services__item {
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  color: black;
  font: "Roboto Condensed";
  padding: 1.5em 2em;
  border-radius: 20px;
  background: white;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.services__item__header {
  padding: 0 0.5em 0.8em 0;
  display: block;
  text-align: center;
  color: black;
  font: bold 1.5rem "Cuprum"; }

.services__item__body {
  display: block;
  text-align: center;
  color: black;
  font: 1.2rem "Roboto Condensed"; }

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url("../img/about-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 1295px; }

.wrapper-right {
  width: 65%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 1em 0;
  min-height: 1295px; }

.about-article {
  padding: 3em 35% 3em 2em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  font: 1.5em "Roboto Condensed";
  line-height: 150%; }

#needhelp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: white;
  color: black; }

.needhelp__wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: black;
  padding: 0 0 3em 0; }

.needhelp__item {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 1.5rem "Roboto Condensed";
  text-align: center;
  color: black; }

.fa-check-square-o {
  display: inline-block;
  font-size: 4rem;
  color: #3c3;
  padding: 1rem; }

.fa-check-circle {
  display: inline-block;
  font-size: 5rem;
  color: #3c3;
  padding: 1rem; }

#contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2em; }

.contacts__wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
  padding-bottom: 2em; }

.contacts__item {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 1.5rem "Roboto Condensed";
  text-align: center;
  color: white; }

.contact-pic {
  border-radius: .5rem; }

.contact-pic.fa-whatsapp {
  font-size: 2.1rem;
  padding: .3rem .5rem;
  background: #25D366; }

.contact-pic.fa-envelope {
  font-size: 1.8rem;
  padding: .5rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#0066ff), to(#33ccff));
  background: -webkit-linear-gradient(bottom, #0066ff 0%, #33ccff 100%);
  background: -o-linear-gradient(bottom, #0066ff 0%, #33ccff 100%);
  background: linear-gradient(0deg, #0066ff 0%, #33ccff 100%); }

.contact-pic.fa-vk {
  font-size: 1.8rem;
  padding: .5rem .4rem;
  background: #4680C2; }

.contact-pic.fa-instagram {
  font-size: 2rem;
  padding: .3rem .5rem;
  background: -webkit-linear-gradient(247deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: -o-linear-gradient(247deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(203deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%); }

.contact-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1em 1em; }

footer {
  font: 0.8rem "Roboto Condensed";
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2em; }

footer hr {
  border: none;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5); }

#popup-feedback {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  font: 1em "Roboto Condensed"; }

.popup-feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback-form {
  width: 300px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5em;
  padding: 1em;
  background-color: white;
  color: black; }

.btn-popup-close {
  -ms-flex-item-align: end;
  align-self: flex-end;
  border: none;
  font-size: 2rem;
  background: none;
  color: grey;
  cursor: pointer; }
  .btn-popup-close:hover {
    color: black; }

.btn-popup-submit {
  border: 0 none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background: none;
  cursor: pointer;
    cursor-font-size: 4rem;
  padding: .3rem .5rem;
  border: 2px solid black;
  border-radius: 3px; }

.feedback-form input {
  width: 95%;
  padding: 0.8em;
  font-size: 1em; }

.feedback-form textarea {
  width: 95%;
  margin: 0 0 1em 0;
  font-size: 1em; }

.feedback-form__label {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 1em 0 .5em 0; }
